<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>画像追加確認画面</title>

</head>
<body>
<form method="post" action="/image/image_done" enctype="multipart/form-data" class="form-control" th:object="${product}">

<input type =
    <div>
        <ul>
            <img height="200" th:src="${file}" th:text="${file}" width="200"/>
        </ul>
    </div>
    <td> <input type="hidden" th:field="*{name}"></td>
    <td> <input type="hidden" th:field="*{filePath}"></td>
    <button class="btn btn-primary" type="submit">
        進む
    </button>

</form>
</body>
</html>