<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3.htmlからControllerから関数に渡す</title>
</head>
<body>
<form method="post" action="/thymeleaf/3_menu"th:object="${modelForm}" >
    <input type ="text" th:name="*{count}"> </br>
<!--    <input type ="text" th:field="{name}">-->

    </br>
    <button  type="submit" name="OK">
        OKの場合に遷移する
    </button>
    &nbsp&nbsp&nbsp
    <button  type="submit" name="NG">
        NGの場合に遷移する
    </button>

</form>
</body>
</html>