<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>4.繰り返しについて_OK</title>
</head>
<body>
コントロールからの値の取得に成功しました
<table>
    <thead>
    <tr>
        <th>count </th>
        <th>名前 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${list}">
        <td th:text ="${item.count}"></td>
        <td th:text ="${item.name}"></td>
    </tr>>
    </tbody>>
</table>
nameは<div th:text="${list}" th:name="${list}"></div>


</body>
</html>